<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" href="css/master2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master2.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Thanks</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 id="thanks">Thank you {{ name }} </h1>
      <h1 id="thanks">And Thanks for Visiting and Reviewing My profile</h1>
      <br>
      <h1 id="thanks">Have a Nice Day...!</h1>
      <h1 id="thanks">😊   😊  😊   😊   😊</h1>
    </div>
  </body>
</html>
